<!DOCTYPE html>
<html>
<head>
  <title>Categories</title>
</head>
<body>
  <h1>Daftar Categories</h1>

  <% if (categories.length === 0) { %>
    <p>DATA KOSONG</p>
  <% } else { %>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Nama</th>
        <th>Jumlah Gear</th>
      </tr>
      <% categories.forEach(cat => { %>
        <tr>
          <td><%= cat.id %></td>
          <td><%= cat.name %></td>
          <td><%= cat.total_gears %></td>
        </tr>
      <% }) %>
    </table>
  <% } %>
</body>
</html>
